@import "../../styles/main.scss";

.start {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $blue-btn-color;

  &:hover {
    background-color: $blue-btn-color-hover;
  }
}

.stop {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $pink-btn-color;

  &:hover {
    background-color: $pink-btn-color-hover;
  }
}

.reset {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $violet-btn-color;

  &:hover {
    background-color: $violet-btn-color-hover;
  }
}
