@import "../../../../styles/main.scss";

.start {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $blue-btn-color;
  display: inline-block;

  &:hover {
    background-color: $blue-btn-color-hover;
  }
}

.stop {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $pink-btn-color;
  display: inline-block;

  &:hover {
    background-color: $pink-btn-color-hover;
  }
}

.reset {
  @include task-2-btn-desktop;

  @include hover-scale-btn;

  @include on-mobile {
    @include task-2-btn-mobile;
  }

  background-color: $violet-btn-color;
  display: inline-block;

  &:hover {
    background-color: $violet-btn-color-hover;
  }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}
