@import "../../styles/main.scss";

.purple-background {
  background-color: $violet-bg-color;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.description-wrapper {
  @include description-wrapper-desktop;

  @include on-mobile {
    display: none;
  }
}

.description {
  color: $white-text-color;

  @include primary-text-desktop;
}

.title {
  margin-top: 39px;
  margin-bottom: 7px;
}

.task-container {
  @include centered-content;
}

.workspace {
  margin: 58px 158px 102px;

  @include on-mobile {
    margin: 19px 15px;
  }

  &__button {
    border-radius: 8px;
    width: 110px;
    height: 40px;
    color: $gray-text-color;
    border: none;
    background-color: $white-bg-color;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include medium-text-desktop;

    @include hover-scale-btn;

    &:hover {
      color: $gray-dark-color;
    }

    @include on-mobile {
      width: 43px;
      height: 17px;

      @include medium-text-mobile;
    }
  }

  &__blocks {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    background:
      linear-gradient(90deg, #e0e0e0 1px, transparent 1px),
      linear-gradient(180deg, #e0e0e0 1px, transparent 1px);
    background-size: 4px 4px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    margin-top: 48px;
    display: flex;
    gap: 102px 112px;
    flex-wrap: wrap;

    @include on-mobile {
      gap: 42px 32px;
      margin-top: 19px;
    }
  }
}
