$desktop-min-width: 1200px;
$tablet-min-width: 640px;
$max-width: 1600px;

$white-bg-color: #FFF;

$blue-text: #5F68E0;
$gray-light-color: rgba(75, 75, 75, 0.13);
$gray-text-color: #6C6D72;
$white-text-color: $white-bg-color;
$violet-bg-color: #967AF3;

$blue-btn-color: $blue-text;
$pink-btn-color: #DA63DA;
$btn-gradient-color-hover: #696fd4;
$blue-btn-gradient-color: #787EF0;
$pink-btn-gradient-color: $pink-btn-color;
$violet-btn-color: $violet-bg-color;