@import "../../../../styles/main.scss";

.tracker-table-wrapper {
  width: 650px;
  height: 439px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  box-shadow: $box-shadow;

  @include on-mobile {
    width: 300px;
    height: 500px;
  }
}

.tracker-table {
  width: 650px;
  height: 439px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: $box-shadow;
  border-radius: 8px;
  table-layout: fixed;

  @include on-mobile {
    border-radius: 4px;
    width: 300px;
    height: 500px;
  }
}

.tracker-table th,
.tracker-table td {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.13);
  padding: 12px;
  word-wrap: break-word;
  word-break: break-word;
  color: $gray-text-color;
}

.tracker-table th {
  @include medium-text-desktop;

  @include on-mobile {
    @include medium-text-mobile;
  }
}

.tracker-table td {
  text-align: left;

  @include small-text-desktop;

  @include on-mobile {
    @include small-text-mobile;
  }
}

.text {
  @include primary-text-desktop;

  @include on-mobile {
    @include primary-text-mobile;
  }
}
