@import "../../../../styles/main.scss";

.block {
  height: 100px;
  background-color: $white-bg-color;
  width: 300px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__top {
    height: 25.5px;
    width: 100%;
    display: flex;
    box-shadow: 0px 1px 0px 0px $gray-light-color;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: $gray-text-color;
    align-self: center;
    padding-left: 18px;

    @include small-text-desktop;

    @include on-mobile {
      @include small-text-mobile;

      padding-left: 9px;
    }
  }

  &__btn {
    border: none;
    background-color: $white-bg-color;

    @include hover-icon-btn;

    @include on-mobile {
      padding: 0;
      align-items: center;
      display: flex;
      margin: 4px;
    }
  }

  &__icon {
    width: 16px;
    height: 14px;

    @include on-mobile {
      width: 6px;
      height: 5px;
    }
  }

  .resizeHandle {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    cursor: se-resize;
    border-radius: 50%;
  }
}
