@import "../../styles/main.scss";

.header {
  display: flex;
  box-shadow: 0px 1px 0px 0px $gray-light-color;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: sticky;

  @include on-mobile {
    height: 32px;
  }
}

.wrapper {
  @include centered-content;

  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__img {
    width: 119px;
    height: 39px;
    padding: 12px 63px;

    @include hover-scale;

    @include on-mobile {
      width: 64px;
      height: 18px;
      padding: 4px 15px;
    }
  }
}

.nav-container {
  @include on-mobile {
    display: none;
  }
}
