@import "../../styles/main.scss";

.footer {
  height: 96px;
  width: 100%;
  box-shadow: 0px 0px 0px 1px $gray-light-color;
}

.wrapper {
  @include centered-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.author {
  &__img {
    width: 166px;
    height: 42px;
    padding-left: 41px;
    padding-block: 27px;
  }
}

.github-wrapper {
  @include hover-scale;
}

.githubLink {
    @include nav-link;

    padding-right: 108px;
    padding-left: 20px;
}
