@import "../../../../styles/main.scss";

.nav {
  height: 100%;
  
    &__list {
      display: flex;
      list-style-type: none;
      justify-content: left;
      gap: 64px;
      padding: 11px 100px;
      margin: 0;

      @include on-mobile {
        padding: 10px 44px;
      }
    }
  
    &__item {
        @include hover-scale;
    }

    &__link {
        @include nav-link-desktop;

        @include on-mobile {
          @include nav-link-mobile;
        }
    }
  }