@import "./styles/main.scss";

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .app__header {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: $white-translucent-bg-color;
    backdrop-filter: blur(8px);
  }

  .app__main {
    overflow: hidden;
  }
}
