@import "../../styles/main.scss";

.wrapper {
  @include description-wrapper;
}

.text {
  @include primary-text;

  color: $gray-text-color;
}

.btn-wrapper {
  margin-top: 56px;
  display: flex;
  gap: 132px;
  align-items: center;
}
